<div class="flex flex-wrap justify-center gap-6 py-8">
    <% @articles.each do |article| %>
        <%= render partial: "article", locals: {article: article} %>
    <% end %>
</div>

<%= render partial: "shared/pagination", locals: {pagination: @pagination} %>