<div class="w-full bg-indigo-50 min-h-screen md:px-20 pt-6">
    <div class=" bg-white rounded-md px-6 py-10 max-w-2xl mx-auto">
        <h1 class="text-center text-2xl font-bold text-gray-500 mb-10">
            ADD POST
        </h1>
        <div class="space-y-4">
            <%= render "form" %>
        </div>
    </div>
</div>